@charset "UTF-8";
@import "all.min.css";
@import "aos.css";
@import "normalise.css";
@import "qtip.css";
.pd-bt__sm {
  padding-bottom: 10px !important;
}
.pd-bt__md {
  padding-bottom: 15px !important;
}
.pd-bt__md {
  padding-bottom: 35px !important;
}
.pd-bt__lg {
  padding-bottom: 50px !important;
}
.pd-bt__xl {
  padding-bottom: 70px !important;
}
.m-r__sm {
  margin-right: 10px !important;
}
.m-r__md {
  margin-right: 15px !important;
}
.m-r__md {
  margin-right: 35px !important;
}
.m-r__lg {
  margin-right: 50px !important;
}
.m-r__xl {
  margin-right: 70px !important;
}
.m-t__sm {
  margin-top: 7px !important;
}
.m-t__md {
  margin-top: 15px !important;
}
.m-t__md {
  margin-top: 35px !important;
}
.m-t__lg {
  margin-top: 50px !important;
}
.m-t__xl {
  margin-top: 70px !important;
}
.text-center {
  text-align: center !important;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHh30AXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}
.lato {
  font-family: 'Lato', sans-serif;
}
.fontawesome {
  font-family: "Font Awesome 5 Pro";
}
/* ====== COMMON ========================*/
html {
  line-height: 1;
}
* {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
}
h1 {
  font-size: 2.8rem;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}
h2 {
  font-size: 2.2rem;
}
@media only screen and (max-width: 950px) {
  h2 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 550px) {
  h2 {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.2rem;
  }
}
h1,
h2,
h3 {
  font-weight: 700;
}
.h {
  font-size: 1.5rem;
}
.h--white {
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .h {
    font-size: 1.4rem;
  }
}
.h--thin {
  font-weight: 300 !important;
}
.qtip-bootstrap {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #e2e1e1;
  padding: 1px;
  background-color: #000000;
  border: 1px solid rgba(206, 202, 202, 0.6);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.confirmation__wrapper {
  width: 100%;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 25px;
  text-align: center;
  background-color: #000000;
  border: 1px solid #ffffff;
  z-index: 9999;
  width: 300px;
  position: absolute;
  top: 40%;
  left: 10%;
  right: 10%;
}
.confirmation__content {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
#site-container {
  position: relative;
  min-width: 360px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.p {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.p--highlight {
  font-weight: 700 !important;
}
.grid-33 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .grid-33 {
    grid-template-columns: 1fr;
  }
}
.grid-25 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .grid-25 {
    grid-template-columns: 1fr;
  }
}
.grid-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 720px) {
  .grid-50 {
    grid-template-columns: 1fr;
  }
}
.grid-50--nobreak {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-50--hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 720px) {
  .grid-50--hero {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 720px) {
  .flex-swap {
    display: flex;
    flex-direction: column;
  }
  .flex-swap > div:nth-of-type(1) {
    order: 2;
  }
  .flex-swap > div:nth-of-type(2) {
    order: 1;
  }
}
.grid-60-40 {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
@media only screen and (max-width: 768px) {
  .grid-60-40 {
    grid-template-columns: 1fr;
  }
}
.grid-40-60 {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
@media only screen and (max-width: 768px) {
  .grid-40-60 {
    grid-template-columns: 1fr;
  }
}
.grid-66-33 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media only screen and (max-width: 768px) {
  .grid-66-33 {
    grid-template-columns: 1fr;
  }
}
.grid-33-66 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@media only screen and (max-width: 768px) {
  .grid-33-66 {
    grid-template-columns: 1fr;
  }
}
.grid-20-80 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
@media only screen and (max-width: 768px) {
  .grid-20-80 {
    grid-template-columns: 1fr;
  }
}
[class*="--gap30"] {
  grid-gap: 30px;
}
@media only screen and (max-width: 768px) {
  [class*="--gap30"] {
    grid-gap: 20px;
  }
}
[class*="--gap50"] {
  grid-gap: 50px;
}
@media only screen and (max-width: 768px) {
  [class*="--gap50"] {
    grid-gap: 20px;
  }
}
.btn,
.btn:link,
.btn:visited {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  font-size: 1.4rem;
  padding: 20px 30px;
  color: #f06d06;
  background-color: #ffffff;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  font-weight: 600;
}
@media only screen and (max-width: 950px) {
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .btn,
  .btn:link,
  .btn:visited {
    display: block;
    font-size: 1.2rem;
  }
}
.btn--mr-right {
  margin-right: 20px;
}
@media only screen and (max-width: 768px) {
  .btn--mr-right {
    margin-right: 0;
  }
}
.btn--mr-bottom {
  margin-bottom: 15px;
}
.btn:active,
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #f06d06 !important;
  color: #ffffff;
}
.btn--transparent {
  background-color: transparent !important;
  border: 2px solid #f06d06 !important;
}
.btn--black {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.btn--black:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}
.btn--uppercase {
  text-transform: uppercase !important;
}
.btn--full-width {
  display: block !important;
  width: 100%;
}
.header {
  background-image: url('../../images//hero-grey-darker.jpg');
  background-size: cover;
  background-position: center;
}
.header__wrapper {
  width: 100%;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  height: 80vh;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .header {
    height: 75vh;
  }
}
@media only screen and (max-width: 550px) {
  .header {
    height: 80vh;
  }
}
.header__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .header__content {
    right: 5%;
    left: 5%;
  }
}
.header__text-box {
  padding-bottom: 30px;
}
.header__title {
  font-family: 'Lato', sans-serif;
  font-size: 1.825rem;
  line-height: 1.2;
  padding: 40px 0 10px 0;
}
@media only screen and (max-width: 768px) {
  .header__title {
    font-size: 1.4rem;
  }
}
.header__highlight {
  font-family: 'Lato', sans-serif;
  color: #f06d06;
  display: block;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 1000;
}
.header__highlight--big {
  font-family: 'Lato', sans-serif;
  font-size: 5.5rem;
}
@media only screen and (max-width: 768px) {
  .header__highlight--big {
    font-size: 3.5rem;
  }
}
.header__highlight--small {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1px;
}
@media only screen and (max-width: 768px) {
  .header__highlight--small {
    font-size: 1.4rem;
  }
}
.header__text {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
}
@media only screen and (max-width: 768px) {
  .header__text {
    font-size: 1rem;
  }
}
.logo {
  display: inline-block;
  width: 7rem;
  height: 7rem;
}
@media only screen and (max-width: 768px) {
  .logo {
    width: 5rem;
    height: 5rem;
  }
}
.services__wrapper {
  width: 100%;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding-top: 70px;
  padding-bottom: 80px;
}
@media only screen and (max-width: 950px) {
  .services__wrapper {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 720px) {
  .services__wrapper {
    padding: 25px 40px 25px 40px;
  }
}
@media only screen and (max-width: 550px) {
  .services__wrapper {
    padding: 30px 10px;
  }
}
.services__left {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .services__left {
    justify-content: stretch;
    padding: 20px 0 20px 10px;
  }
}
.services__right__wrapper {
  width: 100%;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}
@media only screen and (max-width: 950px) {
  .services__right__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .services__right__wrapper {
    padding: 40px 10px;
  }
}
@media only screen and (max-width: 680px) {
  .services__right__wrapper {
    padding: 20px 10px;
  }
}
.services-list__h {
  font-weight: 700;
}
.services-list__h--modified {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 1.8rem !important;
}
@media only screen and (max-width: 768px) {
  .services-list__h--modified {
    padding-bottom: 30px;
  }
}
.services-list__item {
  padding: 0 0 40px 60px;
  position: relative;
}
@media only screen and (max-width: 950px) {
  .services-list__item {
    padding: 0 0 30px 60px;
  }
}
.services-list__item:last-child {
  padding-bottom: 0;
}
.services-list__item::before {
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  left: 0;
  font-size: 3rem;
  color: #f06d06;
}
.services-list__item--per::before {
  content: '\f21d';
  font-weight: 700;
}
.services-list__item--ser::before {
  content: '\f06a';
  font-weight: 700;
}
.services-list__item--med::before {
  content: '\f0fa';
  font-weight: 700;
}
.services-list__item--ind::before {
  content: '\f275';
  font-weight: 700;
}
.contact-form {
  padding: 60px 23px 30px 23px;
  background-color: #f06d06;
  position: absolute;
  margin-top: -150px;
}
@media only screen and (max-width: 1200px) {
  .contact-form {
    position: static;
    margin-top: 0;
  }
}
@media only screen and (max-width: 950px) {
  .contact-form {
    padding: 30px 20px 20px 20px;
  }
}
.contact-form__header {
  padding-bottom: 5px;
}
@media only screen and (max-width: 768px) {
  .contact-form__header {
    padding-bottom: 10px;
  }
}
.contact-form__h {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  text-transform: none !important;
  text-align: center;
  line-height: 1.4;
}
@media only screen and (max-width: 1200px) {
  .contact-form__h {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .contact-form__h {
    line-height: 1.1;
  }
}
.contact-form__h span {
  font-family: 'Lato', sans-serif;
  display: block;
  text-transform: uppercase;
}
#contact-form {
  padding: 0 0px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  float: none !important;
  clear: both !important;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form {
  margin: 0;
  padding: 0;
  display: block;
  zoom: 1;
}
.form:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form__group {
  display: block;
  zoom: 1;
  padding: 10px;
}
.form__group:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (max-width: 950px) {
  .form__group {
    padding: 5px 20px;
  }
}
.form__group--pad {
  padding: 10px 0;
}
.form__group--pad5 {
  padding: 5px 0;
}
.form__element {
  display: block;
  zoom: 1;
}
.form__element:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form__element--left {
  width: 50%;
  float: left;
  padding: 10px 10px 10px 0;
}
@media only screen and (max-width: 950px) {
  .form__element--left {
    width: 100%;
  }
}
.form__element--right {
  width: 50%;
  float: right;
  padding: 10px 10px 10px 0;
}
@media only screen and (max-width: 950px) {
  .form__element--right {
    width: 100%;
  }
}
.form__element--center {
  text-align: center;
}
.form__input {
  width: 100%;
  color: #ffffff;
  padding: 13px 5px;
  font-size: 0.9rem;
  outline: 0;
  background-color: #f06d06;
  border: 0;
  border-bottom: 1px solid #e7e7e7;
}
@media only screen and (max-width: 950px) {
  .form__input {
    padding: 5px 10px;
  }
}
.form__input::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 1.1rem;
}
.footer__upper {
  background-image: url('../../images/footer__background.jpg');
  background-size: cover;
}
.footer__upper__wrapper {
  width: 100%;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding: 50px 25px;
}
@media only screen and (max-width: 550px) {
  .footer__upper__wrapper {
    padding: 20px 25px;
  }
}
.footer__lower {
  font-family: 'Lato', sans-serif;
  background-color: #282828;
  color: #ffffff;
}
.footer__lower__wrapper {
  width: 100%;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding: 40px 25px;
}
@media only screen and (max-width: 550px) {
  .footer__lower__wrapper {
    padding: 20px 25px;
  }
}
.footer__h {
  padding-bottom: 10px;
}
.footer__h span {
  text-transform: uppercase;
}
@media only screen and (max-width: 950px) {
  .footer__h span {
    display: block;
  }
}
.footer__h span:not(:last-child) {
  margin-right: 20px;
}
.footer__content {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__li {
  color: #ffffff;
  font-size: 2rem;
  padding: 10px 0;
}
@media only screen and (max-width: 950px) {
  .footer__li {
    padding: 5px 0;
  }
}
@media only screen and (max-width: 550px) {
  .footer__li {
    padding: 3px 0;
    font-size: 1.4rem;
  }
}
.footer__p {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.5;
  color: #a9aca9;
  padding: 5px 0;
}
@media only screen and (max-width: 550px) {
  .footer__p {
    font-size: 0.7rem;
  }
}
.checkbox input[type="checkbox"] + label::after {
  content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: #f06d06 auto 5px;
}
.checkbox__label {
  font-family: 'Lato', sans-serif;
  position: relative;
  display: block;
  cursor: pointer;
  color: #ffffff;
  padding-left: 30px;
}
.checkbox__label::after,
.checkbox__label::before {
  position: absolute;
}
.checkbox__label::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  border: 1px solid #ffffff;
  top: 0;
  left: 2px;
}
.checkbox__label::after {
  content: "";
  display: inline-block;
  height: 6px;
  width: 9px;
  color: #ffffff;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 6px;
  top: 4px;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
  width: 200px;
}
